.body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f9fafc;
}
.header {
	margin: 20px;
}
.links {
	padding: 0;
}

.li {
	list-style: none;
}
.link {
	text-decoration: none;
	color: #69696a;
	font-size: small;
}
/* a:visited{
    color: #69696a;
} */
.button {
	height: 40px;
	width: 100%;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	font-family: "Open Sans", sans-serif;
}
.main {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.desc {
	border-left: 1px solid #69696a;
	padding-left: 15px;
}
